
<div class="fondo-header">
    <svg id="SvgNav" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1946 244" x="0px" y="0px" height="100%" width="100%" preserveAspectRatio="none" class="svg-content" data-v-72292c93=""><title>Fondo Molipel</title><path fill="#06A2C2" d="M1946,0H0v204.9c265.1,20,514.6,27.4,751,21.8c170.8-4,300.8-11.2,479.7-12.3c246.7-1.5,486.1,9.6,715.4,29.6V0z"></path></svg>
</div>
<header id="header">
    <div class="topnav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    011 6668-7813
                </div>
            </div>
        </div>
    </div>
    <div class="header-container">
        <div class="container">
           
            <div class="row">
                <div class="col-md-4">
                    <h1 class="logo">
                        <a href="/"><img src="/assets/images/logo.png" alt=""></a>
                    </h1>
                </div>
                <div class="col-md-8 text-right">
                    <nav class="menu">
                        <ul>
                            <li><a href=""><span class="i-productos"></span> PRODUCTOS</a></li>
                            <li><a href=""><span class="i-catalogo"></span> CATÁLOGO</a></li>
                            <li><a href=""><span class="i-about"></span> NOSOTROS</a></li>
                            <li><a href=""><span class="i-contacto"></span> CONTACTO</a></li>
                        </ul>
                    </nav>
                </div>
            </div><!-- /row -->

        </div><!-- /container -->
    </div>
</header>

