.fondo-header {
    display: block;
    position: fixed;
    width: 100%;
    height: 170px;
    left: 0;
    top: 0;
    vertical-align: middle;
    overflow: hidden;
    z-index: 999;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}
.topnav ul li:nth-child(2){
   border-left: 1px solid #565656;
   padding-left: 10px;
}
.topnav ul li:nth-child(3){
    border-left: 1px solid #565656;
    padding-left: 4px;
 }
#header{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    @media only screen and (max-width: 768px) {
        background-color: #06A2C2;
        position: relative;
    }
    .topnav{
        padding: 8px 0 8px;
        background-color: #444444;
        color: #ffffff;
        @media only screen and (max-width: 411px) {
            .text-right{
                text-align: center !important;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            display: block;
            li{
                display: inline-block;
                margin-left: 15px;
                a{
                    color: #ffffff;
                    font-size: 12px;
                    i{
                        color: #06A2C2;
                        font-size: 20px;
                        @media only screen and (max-width: 411px) {
                            display: none;
                        }
                    }
                    &:hover{
                        color: #eee;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .header-container{
        padding: 8px 0 8px;
        position: relative;
        .icon-mm{
            color: #ffffff;
            font-size: 38px;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 0px;
        }
        .logo{
            position: relative;
            top: 18px;
            @media only screen and (max-width: 768px) {
                top: 1px;
            }
            a{
                img{
                    height: 70px;
                    @media only screen and (max-width: 768px) {
                        height: 50px;
                    }
                }
            }
        }
    }
    .menu{
        ul{
            padding: 0;
            margin: 0;
            position: relative;
            top: 40px;
            @media only screen and (max-width: 768px) {
               top: 15px;
            }
            li{
                margin-left: 20px;
                display: inline;
                a{
                    color: #ffffff;
                    font-size: 18px;
                    text-decoration: none;
                    @media only screen and (max-width: 768px) {
                        font-size: 16px;
                    }
                    &:hover{
                        color: #D85E49;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.i-productos{
    width: 32px;
    height: 20px;
    position: relative;
    display: inline-block;
    display: inline-block;
    &:before{
        content: "";
        width: 32px;
        height: 33px;
        background-image: url(/assets/images/icons/icon-rollito.svg);
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0px;
    }
}
.i-catalogo{
    width: 32px;
    height: 20px;
    position: relative;
    display: inline-block;
    display: inline-block;
    &:before{
        content: "";
        width: 32px;
        height: 33px;
        background-image: url(/assets/images/icons/icon-catalogo.svg);
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: center;
        position: absolute;
        top: -2px;
        left: 0px;
    }
}
.i-about{
    width: 32px;
    height: 20px;
    position: relative;
    display: inline-block;
    display: inline-block;
    &:before{
        content: "";
        width: 32px;
        height: 33px;
        background-image: url(/assets/images/icons/icon-about.svg);
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
        position: absolute;
        top: -7px;
        left: 0px;
    }
}
.i-contacto{
    width: 32px;
    height: 20px;
    position: relative;
    display: inline-block;
    display: inline-block;
    &:before{
        content: "";
        width: 32px;
        height: 33px;
        background-image: url(/assets/images/icons/icon-contacto.svg);
        background-repeat: no-repeat;
        background-size: 21px;
        background-position: center;
        position: absolute;
        top: -4px;
        left: 0px;
    }
}
.content-header{
    @media only screen and (max-width: 411px) {
        width: 50% !important;
    }
}
.menuMobile{
    position: relative;
    ul{
        background-color:transparent;
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left !important;
        list-style: none;
        li{
            padding: 8px 0 8px;
            border-top: 1px solid #ccc;
            a{
                color: #ffffff;
            }
        }
    }
}