<owl-carousel-o [options]="customOptions" id="product-card">
    <ng-container>

        <ng-template carouselSlide>
            <div class="card">
                <figure><img src="//placehold.it/1200x300?text=Uno" class="d-block w-100"></figure>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <figure><img src="//placehold.it/1200x300?text=Dos" class="d-block w-100"></figure>
        </ng-template>

        <ng-template carouselSlide>
            <figure><img src="//placehold.it/1200x300?text=Tres" class="d-block w-100"></figure>
        </ng-template>

        <ng-template carouselSlide>
            <figure><img src="//placehold.it/1200x300?text=Cuatro" class="d-block w-100"></figure>
        </ng-template>

        <ng-template carouselSlide>
            <figure><img src="//placehold.it/1200x300?text=Cinco" class="d-block w-100"></figure>
        </ng-template>
          
    </ng-container>
</owl-carousel-o>
