<owl-carousel-o [options]="customOptions" id="product-card">
    <ng-container>

        <ng-template carouselSlide>
            
            <figure><img src="/assets/productos/ph-48-rollos-x-30-mts.png" class="d-block w-100"></figure>
            <div>
                <h4>Papel higiénico 48 rollos x 30 mts</h4>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            
            <figure><img src="/assets/productos/ph-48-rollos-x-80-mts.png" class="d-block w-100"></figure>
            <div>
                <h4>Papel higiénico 30 rollos x 80 mts</h4>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            
            <figure><img src="/assets/productos/t-2x400-mts-20cm-doble-hoja.png" class="d-block w-100"></figure>
            <div>
                <h4>Toalla 2 x 400 mts 20 cm doble hoja</h4>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            
            <figure><img src="/assets/productos/ph-48-rollos-x-80-mts.png" class="d-block w-100"></figure>
            <div>
                <h4>Papel higiénico 30 rollos x 80 mts</h4>
            </div>
        </ng-template>
          
    </ng-container>
</owl-carousel-o>

<a href="/" class="text-center d-block my-5">
    <button class="btn btn-custom px-5 py-2 my-4">VER TODOS LOS PRODUCTOS</button>
</a>
