<owl-carousel-o [options]="customOptions" id="relacionados">
    <ng-container *ngFor="let producto of productos">
        <ng-template carouselSlide>
            <a [routerLink]="['/producto',producto.id]">
                <figure><img src="/assets/productos/{{producto.imagen}}" class="d-block w-100" title="{{producto.titulo}}" alt="{{producto.titulo}}"></figure>
                <div>
                    <h4>{{producto.titulo}}</h4>
                </div>
            </a>
        </ng-template>
    </ng-container>
</owl-carousel-o>
