<div class="container">


    <div class="rounded">
      <!-- Bordered tabs-->
      <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills justify-content-center border-0 rounded-nav">
      <li class="nav-item mr-3">
          <a id="mision-tab" data-toggle="tab" href="#mision" role="tab" aria-controls="mision" aria-selected="true" class="nav-link px-5 py-3 border-0 text-uppercase font-weight-bold shadow-sm active">Misión</a>
      </li>
      <li class="nav-item">
          <a id="vision-tab" data-toggle="tab" href="#vision" role="tab" aria-controls="vision" aria-selected="false" class="nav-link px-5 py-3 border-0 text-uppercase font-weight-bold shadow-sm">Visión</a>
      </li>
      </ul>
      <div id="myTabContent" class="tab-content">
      <div id="mision" role="tabpanel" aria-labelledby="mision-tab" class="tab-pane fade px-4 py-5 show active">
        <p class="text-muted">Creamos productos de excelencia.</p> 
        <p class="text-muted">Brindamos todo el cuidado, confort y rendimiento a nuestros consumidores.</p>
        <p class="text-muted">En nuestro crecimiento generamos una contribución de manera exitosa a la sociedad.</p>
      </div>
      <div id="vision" role="tabpanel" aria-labelledby="vision-tab" class="tab-pane fade px-4 py-5">
        <p class="text-muted">Tenemos en claro nuestra visión de ser la mejor fábrica</p>
        <p class="text-muted">con el más alto prestigio, eficiente y rentable, innovadora en nuevas formas</p>
        <p class="text-muted"> de mejorar la industria con pasión y tecnología de punta.</p>
      </div>
      </div>
      <!-- End bordered tabs -->
    </div>
    
  
  </div>
