<div class="container my-5 pt-4">
    <div class="title mb-5 text-center">
        <h3>Conocé Todos Nuestros Productos</h3>
        <span></span>
    </div>

    <div class="row">
        <div class="col-md-12 p-2">
            <app-campo-buscador></app-campo-buscador>
        </div>

        <div class="col-md-4 p-2" *ngFor="let producto of productos">
            <a [routerLink]="['/producto',producto.id]" class="productos">
                <figure style="background-image:url(/assets/productos/{{producto.imagen}})"></figure>
                <div>
                    <h4>{{producto.titulo}}</h4>
                </div>
            </a>
        </div><!-- /col -->
        
       
       


    </div><!-- /row -->
</div>
