<div class="container my-5 pt-4">
    <div class="title mb-5 text-center">
        <h3>Conocé Todos Nuestros Productos</h3>
        <span></span>
    </div>

    <div class="row">
        <div class="col-md-12 p-2">
            <div class="content-search text-right py-4">
                <div class="search">
                    <input type="text" placeholder="Buscar producto">
                    <span></span>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-2">
            <a [routerLink]="['/producto']" class="productos">
                <figure><img src="/assets/productos/ph-48-rollos-x-30-mts.png" class="d-block w-100"></figure>
                <div>
                    <h4>Papel higiénico 48 rollos x 30 mts</h4>
                </div>
            </a>
        </div><!-- /col -->
        <div class="col-md-4 p-2">
            <a [routerLink]="['/producto']" class="productos">
                <figure><img src="/assets/productos/ph-48-rollos-x-30-mts.png" class="d-block w-100"></figure>
                <div>
                    <h4>Papel higiénico 48 rollos x 30 mts</h4>
                </div>
            </a>
        </div><!-- /col -->
        <div class="col-md-4 p-2">
            <a [routerLink]="['/producto']" class="productos">
                <figure><img src="/assets/productos/ph-48-rollos-x-30-mts.png" class="d-block w-100"></figure>
                <div>
                    <h4>Papel higiénico 48 rollos x 30 mts</h4>
                </div>
            </a>
        </div><!-- /col -->
        <div class="col-md-4 p-2">
            <a [routerLink]="['/producto']" class="productos">
                <figure><img src="/assets/productos/ph-48-rollos-x-30-mts.png" class="d-block w-100"></figure>
                <div>
                    <h4>Papel higiénico 48 rollos x 30 mts</h4>
                </div>
            </a>
        </div><!-- /col -->
        <div class="col-md-4 p-2">
            <a [routerLink]="['/producto']" class="productos">
                <figure><img src="/assets/productos/ph-48-rollos-x-30-mts.png" class="d-block w-100"></figure>
                <div>
                    <h4>Papel higiénico 48 rollos x 30 mts</h4>
                </div>
            </a>
        </div><!-- /col -->

    </div><!-- /row -->
</div>
