
<owl-carousel-o [options]="customOptions" id="gallery">
    <ng-container>

        <ng-template carouselSlide>
            <img src="/assets/images/empresa-01.png" class="d-block w-100">
        </ng-template>

        <ng-template carouselSlide>
            <img src="/assets/images/empresa-02.png" class="d-block w-100">
        </ng-template>

        <ng-template carouselSlide>
            <img src="/assets/images/empresa-03.png" class="d-block w-100">
        </ng-template>


            
    </ng-container>
</owl-carousel-o>

  

