<div class="container mt-5" id="producto">
        <div class="row pt-5">
            <div class="col-md-6">
    
                <figure><img src="/assets/productos/{{producto[0].imagen}}" class="d-block w-100" title="{{producto[0].titulo}}" alt="{{producto[0].titulo}}"></figure>


            </div><!-- /col -->
            <div class="col-md-6">
                <h4 class>{{producto[0].titulo}}</h4>
                <p>{{producto[0].descripcion}}
                </p>
                <a href="//api.whatsapp.com/send?phone=541160418667&text=Hola,%20Me%20contacto%20para%20la%20solicitar%20este%20producto" class="text-center d-block mt-5" target="_blank">
                    <button class="btn btn-custom px-5 py-2 my-4">
                            QUIERO ESTE PRODUCTO
                    </button>
                </a>
            </div>
        </div><!-- /row -->
</div>

    <div class="container my-5">
        <hr class="mb-5">
        <div class="title mb-5 text-center">
            <h3>Productos Relacionados</h3>
            <span></span>
        </div>
        <app-relacionados></app-relacionados>
    </div>


