<div class="container my-5 pt-4">
    <div class="title mb-5 text-center">
        <h3>Resultado de Busqueda</h3>
        <span></span>
    </div>

    <div class="row">
        <div class="col-md-12 p-2">
            <app-campo-buscador></app-campo-buscador>
        </div>

        <div class="no-result w-100" *ngIf="producto.length == 0">
            <h4>Oops!</h4>
            <p class="mb-0">No se encontraron productos :(</p>
        </div>

        <div class="col-md-4 p-2" *ngFor="let producto of producto">
            <a [routerLink]="['/producto',producto.id]" class="productos">
                <figure><img src="/assets/productos/{{producto.imagen}}" class="d-block w-100"></figure>
                <div>
                    <h4>{{producto.titulo}}</h4>
                </div>
            </a>
        </div>
        

    </div><!-- /row -->
</div>

