.productos{
    position: relative;
    figure{
        height: 290px;
        overflow: hidden;
        margin: 0;
        background-size: cover;
        overflow: hidden;
        @media only screen and (max-width: 768px) {
            height: 200px;
        }
    }
    div{
        height: 90px;
        background-color: #5ECBE1;
        padding: 15px;
        text-align: center;
        position: relative;
        &::before{
            content: "";
            width: 50%;
            height: 4px;
            background-color: #06A2C2;
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after{
            content: "";
            width: 50%;
            height: 4px;
            background-color: #D85E49;
            position: absolute;
            top: 0;
            right: 0;
        }
        h4{
            color: #fff;
            font-size: 22px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            text-shadow: 1px 2px 0px #06a2c2;
        }
    }
}
.no-result{
    text-align: center;
    padding: 150px 0 150px;
    font-family: "Roboto", sans-serif;
    color: #06a2c2;
   h4{
       font-size: 4rem;
   }
   p{
       font-size: 2rem;
   }
}