

  <div id="homeSlide" class="carousel slide carousel-fade" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="//placehold.it/1200x300?text=One" class="d-block w-100" alt="First Slide">
        </div>
        <div class="carousel-item">
            <img src="//placehold.it/1200x300?text=Two" class="d-block w-100" alt="Second Slide">
        </div>
        <div class="carousel-item">
            <img src="//placehold.it/1200x300?text=Tree" class="d-block w-100" alt="Third Slide">
        </div>
    </div>

    <a class="carousel-control-prev" href="#homeSlide" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#homeSlide" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
  </div>
    
  
  <div class="container mt-4">
        <app-product-card></app-product-card>
    </div>



      
