<!-- SLIDESHOW HOME -->
<app-slideshow></app-slideshow>
    
   <!-- CAROUSEL PRODUCTOS -->
    <div class="container">
        <div class="title my-5 text-center">
            <h3>Conocé Nuestros Productos</h3>
            <span></span>
        </div>
        <app-product-card></app-product-card>
    </div>

    <section class="s-bg-01">
        <div class="container py-5">

            <div class="row">
                <div class="col-md-8">
                    <h3>Conocé nuestro Catálogo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius ornare ultricies.</p>
                    <p>Vivamus risus augue, bibendum sed ante sit amet, commodo pellentesque nulla.</p> 
                    <p>Phasellus malesuada vehicula tortor, eget auctor dolor consequat commodo.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat quos nemo ducimus, nobis.</p>
                </div><!-- /col -->
                <div class="col-md-4">
                    <a href="/" class="text-center mt-5 d-block">
                        <button class="btn btn-custom px-5 py-2 mt-4">VER CATÁLOGO</button>
                    </a>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </section>

    <section class="laempresa my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <app-galeria-empresa></app-galeria-empresa>
                </div>
                <div class="col-md-6">
                    <div class="title mb-4 text-center">
                        <h3>Nuestra Empresa</h3>
                        <span></span>
                    </div>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam et lacinia.</p> 
                   <p> Quisque eu justo at justo bibendum rhoncus a ut felis.</p>
                   <p>Nullam a elit ligula. Aliquam vulputate dui in elit accumsan vehicula ut at nulla.</p>
                   <br>
                   <p>Nam vulputate quam vitae mauris egestas luctus. Sed quis blandit lorem.</p> 
                   <p>Phasellus id sapien dolor. Suspendisse porttitor</p>
                   <p>Pellentesque eget lacus ut mi pretium pellentesque. In eget nisi ultrices,</p>
                   <p>aliquet ipsum sed, gravida lectus. Maecenas lacinia eros at bibendum auctor.</p> 

                </div>
            </div>
        </div><!-- /container -->
    </section>

    <section class="s-tabs py-5">

        <app-tabs></app-tabs>

    </section>



      
